---
title: "About - Supreme Trading Company";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <p>Welcome to the About page of Supreme Trading Company. Here, we share our story, values, and mission to provide the best products and services to our customers.</p>
</BaseLayout>