---
title: "Contact Us - Supreme Trading Company";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="text-gray-700 body-font relative bg-white">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1
          class="sm:text-4xl text-3xl font-bold title-font mb-4 text-gray-900"
        >
          Contact Us
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
          Have questions or want to place an order? We’re here to help.
        </p>
      </div>

      <!-- Contact Info & Form -->
      <div class="lg:w-2/3 md:w-3/4 mx-auto flex flex-wrap -m-2">
        <!-- Left Column: Contact Info -->
        <div class="p-4 lg:w-1/2 w-full">
          <div class="bg-gray-100 rounded-lg p-6 h-full">
            <h2 class="text-lg font-semibold text-gray-900 mb-4">
              Visit or Contact Us
            </h2>

            <p class="mb-2">
              <span class="flex items-center">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 512 512"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--fxemoji mr-2"
                  preserveAspectRatio="xMidYMid meet"
                  fill="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                      fill="#C8CACB"
                      d="M267.04 104.384H18.654c-7.953 0-14.4 6.447-14.4 14.4v375.814c0 7.953 6.447 14.4 14.4 14.4H267.04c7.953 0 14.4-6.447 14.4-14.4V118.784c0-7.953-6.447-14.4-14.4-14.4z"
                    ></path><path
                      fill="#A6AFB2"
                      d="M480.279 36.657H143.331c-5.442 0-9.853 5.681-9.853 12.688V496.31c0 7.008 4.411 12.688 9.853 12.688h336.948c5.442 0 9.853-5.681 9.853-12.688V49.346c0-7.008-4.412-12.689-9.853-12.689z"
                    ></path><path
                      fill="#597B91"
                      d="M268.756 405h86.097v103.999h-86.097z"></path><path
                      fill="#C8CACB"
                      d="M410.15 459.001h-19.176a9.362 9.362 0 1 1 0-18.724h19.176a9.363 9.363 0 0 1 0 18.724z"
                    ></path><path
                      fill="#597B91"
                      d="M505.081 42.854v-6.549a7.2 7.2 0 0 0-7.2-7.2H125.729a7.2 7.2 0 0 0-7.2 7.2v6.549a7.2 7.2 0 0 0 7.2 7.2H497.88a7.2 7.2 0 0 0 7.201-7.2z"
                    ></path><path
                      fill="#FF473E"
                      d="M357.901 427.272c6.811 0 11.68-6.405 10.147-13.041c-5.912-25.598-28.849-44.682-56.244-44.682s-50.332 19.083-56.244 44.682c-1.533 6.637 3.336 13.041 10.147 13.041h92.194z"
                    ></path><path
                      fill="#466677"
                      d="M268.756 427.272h86.097v22.007h-86.097z"></path><path
                      fill="#2B3B47"
                      d="M222.443 183.746h-23.976a7.2 7.2 0 0 1-7.2-7.2v-74.027a7.2 7.2 0 0 1 7.2-7.2h23.976a7.2 7.2 0 0 1 7.2 7.2v74.027a7.2 7.2 0 0 1-7.2 7.2zm74.32-7.2v-74.027a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v74.027a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm67.119 0v-74.027a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v74.027a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm67.119 0v-74.027a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v74.027a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm-134.238 89.482v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm67.119 0v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm-67.119 73.627v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm67.119 0v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm-134.239-73.627v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm201.358 0v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm-201.358 73.627v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm201.358 0v-23.764a7.2 7.2 0 0 0-7.2-7.2h-23.976a7.2 7.2 0 0 0-7.2 7.2v23.764a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zM88.354 230.68v-54.386a7.2 7.2 0 0 0-7.2-7.2H57.178a7.2 7.2 0 0 0-7.2 7.2v54.386a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm0 113.025v-54.386a7.2 7.2 0 0 0-7.2-7.2H57.178a7.2 7.2 0 0 0-7.2 7.2v54.386a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2zm0 113.025v-54.386a7.2 7.2 0 0 0-7.2-7.2H57.178a7.2 7.2 0 0 0-7.2 7.2v54.386a7.2 7.2 0 0 0 7.2 7.2h23.976a7.2 7.2 0 0 0 7.2-7.2z"
                    ></path><path
                      fill="#A6AFB2"
                      d="M88.452 237.88H49.881a5.752 5.752 0 0 1-5.752-5.752v-3.146a5.752 5.752 0 0 1 5.752-5.752h38.571a5.752 5.752 0 0 1 5.752 5.752v3.146a5.752 5.752 0 0 1-5.752 5.752zm5.752 107.272v-3.146a5.752 5.752 0 0 0-5.752-5.752H49.881a5.752 5.752 0 0 0-5.752 5.752v3.146a5.753 5.753 0 0 0 5.752 5.753h38.571a5.753 5.753 0 0 0 5.752-5.753zm0 113.025v-3.146a5.752 5.752 0 0 0-5.752-5.752H49.881a5.752 5.752 0 0 0-5.752 5.752v3.146a5.753 5.753 0 0 0 5.752 5.753h38.571a5.753 5.753 0 0 0 5.752-5.753z"
                    ></path><path
                      fill="#899396"
                      d="M230.319 183.746h-38.571a5.752 5.752 0 0 1-5.752-5.752v-3.146a5.752 5.752 0 0 1 5.752-5.752h38.571a5.752 5.752 0 0 1 5.752 5.752v3.146a5.752 5.752 0 0 1-5.752 5.752zm72.293-5.752v-3.146a5.752 5.752 0 0 0-5.752-5.752h-38.571a5.752 5.752 0 0 0-5.752 5.752v3.146a5.752 5.752 0 0 0 5.752 5.752h38.571a5.752 5.752 0 0 0 5.752-5.752zm66.541 0v-3.146a5.752 5.752 0 0 0-5.752-5.752H324.83a5.753 5.753 0 0 0-5.753 5.752v3.146a5.752 5.752 0 0 0 5.753 5.752h38.571a5.752 5.752 0 0 0 5.752-5.752zm66.541 0v-3.146a5.752 5.752 0 0 0-5.753-5.752H391.37a5.752 5.752 0 0 0-5.752 5.752v3.146a5.752 5.752 0 0 0 5.752 5.752h38.571a5.752 5.752 0 0 0 5.753-5.752z"
                    ></path></g
                  ></svg
                >
                <strong>Address:</strong><br />
              </span>
              <a href="/contact-us" class="hover:underline">
                504, MIE Part-A, Bahadurgarh, Haryana, India
              </a>
            </p>

            <p class="mb-2 flex items-center space-x-2">
              <span class="flex items-center">
                <svg
                  fill="#a30000"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="#a30000"
                  class="mr-2"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                      d="M21.384,17.752a2.108,2.108,0,0,1-.522,3.359,7.543,7.543,0,0,1-5.476.642C10.5,20.523,3.477,13.5,2.247,8.614a7.543,7.543,0,0,1,.642-5.476,2.108,2.108,0,0,1,3.359-.522L8.333,4.7a2.094,2.094,0,0,1,.445,2.328A3.877,3.877,0,0,1,8,8.2c-2.384,2.384,5.417,10.185,7.8,7.8a3.877,3.877,0,0,1,1.173-.781,2.092,2.092,0,0,1,2.328.445Z"
                    ></path></g
                  ></svg
                >
                <strong>Phone:</strong>
              </span>
              <a href="tel:+919315609098" class="hover:underline">
                +91-9315609098
              </a>
            </p>

            <p class="mb-2 flex items-center space-x-2">
              <span class="flex items-center">
                <svg
                  fill="#a30000"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="#a30000"
                  class="mr-2"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                      d="M21.384,17.752a2.108,2.108,0,0,1-.522,3.359,7.543,7.543,0,0,1-5.476.642C10.5,20.523,3.477,13.5,2.247,8.614a7.543,7.543,0,0,1,.642-5.476,2.108,2.108,0,0,1,3.359-.522L8.333,4.7a2.094,2.094,0,0,1,.445,2.328A3.877,3.877,0,0,1,8,8.2c-2.384,2.384,5.417,10.185,7.8,7.8a3.877,3.877,0,0,1,1.173-.781,2.092,2.092,0,0,1,2.328.445Z"
                    ></path></g
                  ></svg
                >
                <strong>Phone:</strong>
              </span>
              <a href="tel:+918168478237" class="hover:underline">
                +91-8168478237
              </a>
            </p>

            <p class="mb-2 flex items-center space-x-2">
              <span class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="#25D366"
                  class="mr-2"
                >
                  <path
                    d="M12.04 2C6.49 2 2 6.49 2 12.04c0 2.12.64 4.09 1.73 5.73L2 22l4.4-1.15a10.02 10.02 0 0 0 5.64 1.69c5.55 0 10.04-4.49 10.04-10.04S17.59 2 12.04 2zm5.87 14.26c-.25.7-1.44 1.36-1.99 1.45-.51.1-1.17.14-1.89-.12-.44-.17-1-.36-1.72-.72a14.45 14.45 0 0 1-3.54-3.12A13.94 13.94 0 0 1 7.2 10.4c-.22-.35-.36-.77-.4-1.1-.1-.86.32-1.36.48-1.55.13-.17.3-.22.4-.23.1 0 .2-.01.3-.01.1 0 .24 0 .37.28.15.34.5 1.16.55 1.24.05.08.08.17.02.27-.14.25-.4.57-.55.77-.08.1-.16.2-.07.38.2.34.93 1.55 2.06 2.52 1.42 1.23 2.6 1.61 3.01 1.78.12.05.26.04.35-.06.12-.14.41-.5.52-.67.13-.18.23-.15.38-.09.16.05 1.04.49 1.21.58.17.09.28.13.32.2.04.06.04.73-.21 1.43z"
                  ></path>
                </svg>
                <strong>WhatsApp:</strong>
              </span>
              <a href="https://wa.me/919315609098" class="hover:underline">
                +91-9315609098
              </a>
            </p>

            <p class="mb-2 flex items-center space-x-2">
              <span class="flex items-center">
                <svg
                  fill="#000000"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  id="email"
                  data-name="Flat Color"
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon flat-color mr-2"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><rect
                      id="primary"
                      x="2"
                      y="4"
                      width="20"
                      height="16"
                      rx="2"
                      style="fill: #ffcf66;"></rect><path
                      id="secondary"
                      d="M21.25,4.45A2,2,0,0,0,20,4H4a2,2,0,0,0-1.25.45A1,1,0,0,0,2.76,6l8,6.29a2,2,0,0,0,2.48,0l8-6.29a1,1,0,0,0,0-1.56Z"
                      style="fill: #fba123;"></path></g
                  ></svg
                >
                <strong>Email:</strong>
              </span>
              <a
                href="mailto:supremetrading2@gmail.com"
                class="hover:underline break-all"
              >
                supremetrading2@gmail.com
              </a>
            </p>

            <p class="mb-2">
              <span class="flex items-center">
                <!-- <span class="flex items-center"> -->
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 1024 1024"
                  class="icon mr-2"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                      d="M512 512m-426.666667 0a426.666667 426.666667 0 1 0 853.333334 0 426.666667 426.666667 0 1 0-853.333334 0Z"
                      fill="#00ACC1"></path><path
                      d="M512 512m-341.333333 0a341.333333 341.333333 0 1 0 682.666666 0 341.333333 341.333333 0 1 0-682.666666 0Z"
                      fill="#EEEEEE"></path><path
                      d="M490.666667 234.666667h42.666666v277.333333h-42.666666z"
                      fill=""></path><path
                      d="M667.413333 632.618667L632.746667 667.306667l-138.752-138.752 34.688-34.709334z"
                      fill=""></path><path
                      d="M512 512m-42.666667 0a42.666667 42.666667 0 1 0 85.333334 0 42.666667 42.666667 0 1 0-85.333334 0Z"
                      fill=""></path><path
                      d="M512 512m-21.333333 0a21.333333 21.333333 0 1 0 42.666666 0 21.333333 21.333333 0 1 0-42.666666 0Z"
                      fill="#00ACC1"></path></g
                  ></svg
                >
                <strong>Business Hours:</strong>
                <!-- </span> -->
              </span>
              <!-- Mon–Sat: 9:00 AM – 7:00 PM<br />Sunday: Closed -->
              <table class="text-sm text-gray-700">
                <tbody>
                  <tr
                    ><td class="pr-4">Monday - Saturday:</td><td
                      >9:00 AM – 8:00 PM</td
                    ></tr
                  >
                  <tr><td class="pr-4">Sunday:</td><td>Closed</td></tr>
                </tbody>
              </table>
            </p>
          </div>
        </div>

        <!-- Right Column: Form -->
        <div class="p-4 lg:w-1/2 w-full">
          <form
            class="bg-gray-100 rounded-lg p-6 flex flex-col md:ml-auto w-full"
          >
            <h2 class="text-lg font-semibold text-gray-900 mb-4">
              Send a Message
            </h2>
            <div class="relative mb-4">
              <label for="name" class="leading-7 text-sm text-gray-600"
                >Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                required
                class="w-full bg-white rounded border border-gray-300 focus:border-yellow-600 focus:ring-2 focus:ring-yellow-100 text-base outline-none py-2 px-3 transition duration-200 ease-in-out"
              />
            </div>
            <div class="relative mb-4">
              <label for="phone" class="leading-7 text-sm text-gray-600"
                >Phone</label
              >
              <input
                type="tel"
                id="phone"
                name="phone"
                required
                class="w-full bg-white rounded border border-gray-300 focus:border-yellow-600 focus:ring-2 focus:ring-yellow-100 text-base outline-none py-2 px-3 transition duration-200 ease-in-out"
              />
            </div>
            <div class="relative mb-4">
              <label for="message" class="leading-7 text-sm text-gray-600"
                >Message</label
              >
              <textarea
                id="message"
                name="message"
                required
                class="w-full bg-white rounded border border-gray-300 focus:border-yellow-600 focus:ring-2 focus:ring-yellow-100 h-32 text-base outline-none py-2 px-3 resize-none transition duration-200 ease-in-out"
              ></textarea>
            </div>
            <button
              type="submit"
              class="text-white bg-yellow-700 hover:bg-yellow-800 border-0 py-2 px-6 focus:outline-none rounded text-lg"
            >
              Send Message
            </button>
          </form>
        </div>
      </div>

      <!-- Google Map Embed -->
      <div class="mt-16">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!..."
          width="100%"
          height="300"
          class="rounded-lg border-2 border-gray-200"
          allowfullscreen=""
          loading="lazy"></iframe>
      </div>
    </div>
  </section>
</BaseLayout>