---
title: "Contact - Supreme Trading Company";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <p>Welcome to the Contact page of Supreme Trading Company. If you have any questions, feedback, or inquiries, please feel free to reach out to us through the contact form below or via our email and phone number provided.</p>
</BaseLayout>